.tm-main { width: 100%; }



.tm-sidebar {
	background-color: #fff;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	padding-left: 40px;
	width: 280px;
}

/* Hide scrollbar */
.tm-sidebar {
	overflow-y: scroll;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE 10+ */
}
.tm-sidebar::-webkit-scrollbar {
	/* WebKit */
	width: 0;
	height: 0;
}

.tm-sidebar-sticky {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.tm-nav {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
	width: 20%;
	margin-top: 150px;
}

.navbar-toggler { display: none; }



.nav-item {
	list-style: none;
	margin-top: 10px;
	margin-bottom: 10px;

}

.nav-link {
	position: relative;
	color: #19262F;
	font-size: 1.4rem;
	padding-top: 15px;
	font-weight: 300px;

	padding-bottom: 15px;
}

.triangle-right {
	position: absolute;
	top: 9px;
	left: -40px;
	width: 0;
	height: 0;
	border-top: 21px solid transparent;
	border-left: 20px solid #19262F;
	border-bottom: 21px solid transparent;
	opacity: 0;
	transition: all 0.3s ease;
}

.nav-item:hover .nav-link,
.nav-link.current {
	background-color: #fff;
	color: #19262F;
	padding-left: 30px;
}

.nav-item:hover > .nav-link > .triangle-right,
.nav-link.current > .triangle-right {
	opacity: 1;
}

.nav-icon {
	width: 40px;
	margin-right: 20px;
}
